<div class="about-section">
  <h1>Health Care</h1>

  <p class="fst-italic">Some text about who we are and what we do.</p>

  <p class="fst-italic">
    Our healthcare system is committed to providing high-quality, accessible,
    and compassionate care to individuals and communities, focusing on promoting
    wellness and improving overall health outcomes.
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://etimg.etb2bimg.com/photo/93026756.cms"
        alt="Jane"
        style="width: 100%"
      />

      <div class="container">
        <h2>Jane Doe</h2>

        <p class="title">CEO & Founder</p>

        <p>Some text that describes me lorem ipsum ipsum lorem.</p>

        <p>jane@example.com</p>

        <p><button class="button">Contact</button></p>
        0
      </div>
    </div>
  </div>

  <div class="container container-fluid">
    <style>
      .custom-bg {
        background-image: url("https://etimg.etb2bimg.com/photo/93026756.cms");

        background-color: #cccccc;

        background-size: 100% auto, cover;

        filter: blur(2px);
      }
    </style>

    <div class="custom-bg"></div>

    <div class="text-dark">
      <h1>Health Care</h1>

      <p></p>
    </div>
  </div>
</div>
