<div class="d-flex justify-content-around">
  <div class="container col-3 border rounded border-2 border-success m-2">
    <br>
    <h2>Welcome Manik!</h2>
    <div style="text-align: center">
      <div class="table-responsive p-2">
        <table class="table table-user-information my-2">
          <tbody>
            <tr >
              <td><i class="fa fa-id-card" aria-hidden="true"></i></td>
              <td >
                <strong> Id </strong>
              </td>
              <td class="text-primary">123456789</td>
            </tr>

            <tr>
              <td><i class="fa fa-user" aria-hidden="true"></i></td>
              <td>
                <strong> Name </strong>
              </td>

              <td class="text-primary">Bootdey</td>
            </tr>

            <tr>
              <td><i class="fa fa-calendar" aria-hidden="true"></i></td>
              <td>
                <strong> Age </strong>
              </td>

              <td class="text-primary">21</td>
            </tr>

            <tr>
              <td><i class="fa fa-adjust custom"></i></td>
              <td>
                <strong> Gender </strong>
              </td>

              <td class="text-primary">Male</td>
            </tr>

            <tr>
              <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
              <td>
                <strong> Email </strong>
              </td>

              <td class="text-primary">noreply@email.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container col-8  m-2">
    
<div class="container mb-5">
    <h2 class="border-bottom border-2 mt-2"> Dashboard</h2>
    <div class="d-flex justify-content-around mt-5">
    
      <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?q=10&h=200" alt="Card image cap">
        <div class="card-body bg-info">
          <a routerLink="/appointments" class="text-decoration-none text-black">  <h4 class="card-title d-flex justify-content-center">View Appointment</h4>
         </a> 
         <!-- <p class="card-text fw-bold text-center">{{centerList?.length}}</p> -->
        </div>
      </div>
      <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://media.istockphoto.com/id/1166986797/vector/people-standing-in-line-waiting-for-administration-cartoon-vector-illustration.jpg?s=612x612&w=0&k=20&c=pMhBg20bW_UQGqvUv90llQRyns9heCVMpS9cnYWxjNg=" alt="Card image cap">
        <div class="card-body bg-success">
          <a routerLink="/appointments" class="text-decoration-none text-black">  <h4 class="card-title d-flex justify-content-center">Book Appoinment</h4></a>
          <!-- <p class="card-text fw-bold text-center">1</p> -->
        </div>
      </div>
      <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://images.pexels.com/photos/7578816/pexels-photo-7578816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
        <div class="card-body bg-warning">
          <a routerLink="/appointments" class="text-decoration-none text-black"><h4 class="card-title d-flex justify-content-center"> View Report </h4></a>
          <!-- <p class="card-text fw-bold text-center" >{{testList?.length}}</p> -->
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
