
<div class="container w-50 mt-5 border border-primary border-2 rounded mb-4">
    <h4 class="text-primary m-2">Register Patient</h4>
    <hr class="hr" style="background-color: blue; height: 2px; border: none;">
    <div class="">
        <div class="d-flex align-items-center">
            <form action="" class="w-50 p-5">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Your Name" name="name">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Your Age" name="age">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Your Gender" name="gender">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Your Email" name="email">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" placeholder="Your Password"  name="password">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" placeholder="Confirm Password"  name="confirmPassword">
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary w-50">Register</button>
                </div>
                <div class="mb-3">
                    <p class="text-center">Already have an account <a href="/login">Login!</a></p>
                </div>
            </form>
            <img src="/assets/images/patient-on-doctor-appointment.jpg" alt="StockImage" class="img-fluid" class="w-50">
        </div>
    </div>    
</div>